.mainSection {
    flex-grow: 1;
  }

 body{
 
    height: 100vh;
    margin-left: 0; 
    transition: margin-left 0.3s ease; 
 }

 .shifted-content {
   margin-left: 250px; 
   transition: margin-left 0.3s ease; 
 } 
 .col-12.offcanvas-title.h5 {
   margin-left: 100px;
}
.offcanvas-header .btn-close {

}
.offcanva-dashboard.offcanvas.offcanvas-start.show{
   background-color: #232222;
   color:#fdf9f3;
}
.offcanva-dashboard svg {
   margin-right: 8px;
   margin-bottom: 5px;
}
.offcanva-dashboard a.nav-link{
color:#fdf9f3;
font-size: large;

}
.link-logout.nav a.nav-link{
   color: #fdc500;
   font-size:x-large
}
button.me-auto.btn.btn-link.btn.btn-primary, button.btn.btn-link.btn.btn-primary{
   --bs-btn-color: white;
   --bs-btn-bg: transparent;
   --bs-btn-border-color: transparent; 
  
}

 button.btn.btn-link.btn.btn-primary{
      margin-left: 160px;
   }
button.me-auto.btn.btn-link.btn.btn-primary:hover, button.btn.btn-link.btn.btn-primary:hover{
background-color: transparent;
color: #fdc500;

}

@media (max-width: 576px) and (max-width: 768px) {
   svg{
      width: 30px;
      height: 30px;

     
   }
   
   
 }
 @media (max-width: 768px) {
   button.btn.btn-link.btn.btn-primary{
      margin-left: 84px;
   }
   img.img-fluid.mx-auto{
      max-width: 100%;
       height: 75px;
      }
 }
 @media (max-width: 576px){
   img.img-fluid.mx-auto{
      max-width: 100%;
       height: 65px;
      }
   button.btn.btn-link.btn.btn-primary{
      margin-left: 30px;
   }
 }
